
/* ///////Fonts///////// */
/* font-family: 'Allura', cursive;
font-family: 'Crimson Text', serif;
font-family: 'Lato', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Cinzel', serif; */


.homeJumbotron {
    height: 75vh;
    /* width: 100vh; */
    /* background-color: grey; */
    background-image: url('./images/seafoodpalace.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-size: 105%; */
}

.specials {
    height: 80vh;
}

.headFont {
    /* font-family: 'Crimson Text', serif; */
    /* font-family: 'Allura', cursive; */
    /* font-family: 'Lobster', cursive; */
    font-family: 'Cinzel', serif;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #CDC6BF;
} 

.navbarStyle {
    background-color: #CDC6BF !important;
}

.card {
    background-color: rgba(255, 255, 255, 0.2);
    height: 25vh;
}

.cardSpacing {
    margin: 10vh 100vh 5vh 100vh;
    /* margin-left: 100px; */

}


.logo {
    height: 10vh;
    opacity: 0.8;
}

.row  {
    margin-left: calc(0 * var(--bs-gutter-x));
}

.container, .container-fluid,
.container-lg, .container-md, 
.container-sm, .container-xl, 
.container-xxl {
    -bs-gutter-x: 0;
}

.menuRow {
    width: 100vw;
}

.header {
    margin-left: 10vh;
    font-size: 8vh;
}

.fa {
    text-decoration: none;
    font-size: 3vh;
    margin-right: 5vw;
}

.footerBottom {
    position: fixed;
    /* height: 100px; */
    background-color: #CDC6BF;
    bottom: 0;
    left: 0vw;
    width: 100vw;
    height: 10vh;
}

.footerRow {
    width: 100vw;
    background-color: #CDC6BF;
}

.footerContainer {
    width: 100vw;
}

.cardContainer:hover .card{
transform: rotateY(180deg);
transition-duration: 1000ms;
}

.card {
    position: relative;
    /* transition: all 0.5s linear; */
    transform-style: preserve-3d;
}

.front,
.back {
    position: absolute;
    perspective: 1000px;
}

.front {
    z-index: 2;
    backface-visibility: hidden;
    width: 100%;
}

.back {
    z-index: 1;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    height: 70%;
}

.card-header {
    width: 100%;
}