.homeJumbotron {
    height: 70vh;
    /* background-color: grey; */
    background-image: url('./images/seafoodpalace.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.specials {
    height: 80vh;
}

.headFont {
    font-family: 'Crimson Text', serif;
}

body {
    font-family: 'Lato', sans-serif;
} 

.card {
    height: 25vh;
}